<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>

<a th:href="@{/admin/insert}" >Add User</a>
&nbsp;&nbsp;&nbsp;
<a th:href="@{/admin}" >List</a>


<h2>Admin tools</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Login</th>
        <th>Password</th>
        <th>Roles</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${listUsers}">
        <td th:text="${user.id}">ID</td>
        <td th:text="${user.name}">Name</td>
        <td th:text="${user.login}">Login</td>
        <td th:text="${user.password}">Password</td>
        <td th:text="${user.roles}">Roles</td>
        <td>
            <a th:href="@{/admin/update(id=${user.id})}">Edit</a>
            <a th:href="@{/admin/delete(id=${user.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
&nbsp;
<a th:href="@{/logout}">Logout</a>
</body>
</html>